<mat-nav-list (click)="close()">
    <a mat-list-item  routerLink="/login" *ngIf="!loggedInUser" (click)="close()" class="sidenav-item">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </a>
    <a mat-list-item  routerLink="/login" *ngIf="loggedInUser" (click)="close(true)" class="sidenav-item">
        <mat-icon>logout</mat-icon>
        <span>logout</span>
    </a>
    <a mat-list-item  routerLink="/movies" *ngIf="loggedInUser" (click)="close()" class="sidenav-item">
        <mat-icon>movies</mat-icon>
        <span>Movies</span>
    </a>
    <a mat-list-item  routerLink="/profile" *ngIf="loggedInUser" (click)="close()" class="sidenav-item">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
    </a>

</mat-nav-list>