.movie-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }

  .movie-container::after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  
  .movie-container img {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 20px;
  }
  

  .movie-container .mat-form-field {
    clear: both;
  }

  .seats{
    width: 40%;
    justify-content: center;
  }
  