<div class="movie-container" *ngIf="movieLoaded">
  <h1>{{ movie?.title }}</h1>
  <img [src]="movie?.image" alt="{{ movie?.title }}">
  <p>{{ movie?.description }}</p>
  <p>Műfajok: {{ movie?.genres?.join(', ') }}</p>
  <p>Film hossza: {{ movie?.length }} perc</p>


  
  <mat-form-field appearance="fill">
    <mat-label>Válasszon vetítést</mat-label>
    <mat-select [formControl]="showtimeControl">
      <mat-option *ngFor="let showtime of showtimes" [value]="showtime.time">{{ showtime.time }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
