<mat-card *ngIf="!isLoading && user">
    <mat-card-header>
      <mat-card-title>Felhasználói Profil</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="profileForm">
        <mat-form-field appearance="fill">
          <mat-label>Vezetéknév</mat-label>
          <input matInput [readonly]="!editMode" formControlName="lastname">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Keresztnév</mat-label>
          <input matInput [readonly]="!editMode" formControlName="firstname">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [readonly]="!editMode" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Jelszó</mat-label>
          <input matInput type="password" [readonly]="!editMode" formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Jelszó megerősítése</mat-label>
          <input matInput type="password" [readonly]="!editMode" formControlName="confirmPassword">
        </mat-form-field>
      </form>
    <button mat-raised-button color="primary" (click)="toggleEditMode()" *ngIf="!editMode">Szerkesztés</button>
    <button mat-raised-button color="primary" (click)="saveChanges()" *ngIf="editMode">Mentés</button>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header color="main">
  <mat-card-title>
    Foglalások: 
  </mat-card-title>
  </mat-card-header>
  <table mat-table [dataSource]="bookings" class="mat-elevation-z8" *ngIf="isBookingsLoaded">
    <ng-container matColumnDef="movie">
      <th mat-header-cell *matHeaderCellDef>Film címe</th>
      <td mat-cell *matCellDef="let booking"> {{movies.get(booking.movie_id)}} </td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Dátum </th>
      <td mat-cell *matCellDef="let booking"> {{booking.date.toDate() | date}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

