<div class="form-div">
    <mat-card class="login-card">
      <mat-card-header class="card-header">
        <mat-card-title>Bejelentkezés</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form">
          <mat-form-field>
            <mat-label for="email">Email: </mat-label>
            <input matInput type="text" [formControl]="email" />
          </mat-form-field>
          <mat-form-field>
            <mat-label for="password">Jelszó: </mat-label>
            <input matInput type="password" [formControl]="password"/>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="login()">Bejelentkezés</button>
          <button mat-raised-button color="primary" [routerLink]="'../register'">Regisztráció</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  